.navsite{
    text-align: center;
}
.redirect{
    font-size: 5px;
    text-align: center;
}
.esboco{
    background-color: white;
    text-align: center;
    font-size: large;
    font-size: 3px;
    
}
.inicio{
    background-color: white;
    text-align: center;
    font-size: 3px;
}
.imagem1{
    right: 0px;
    position: fixed;
    
}
.imagem2{
    background-color: white;
    text-align: center;
}
.historia{
    text-align: center;
    font-size: 3px;
}
footer{
    text-align: center;
    font-size: 2px;
}

.resultados{
    font-size: 3px;
    text-align: center;
    color: greenyellow;
}

.botaoPesquisar{
    size: 100mm;
    text-align: center;
}