.esboco{
    background-color: white;
    text-align: center;
    font-size: large;
    font-size: 50px;
    
}
.inicio{
    background-color: white;
    text-align: center;
    font-size: 50px;
}
.imagem1{
    right: 0px;
    position: fixed;
    
}
.imagem2{
    background-color: aqua;
}