.esboco{
    background-color: white;
    text-align: center;
    font-size: large;
    font-size: 30px;
    
}
.inicio{
    background-color: white;
    text-align: center;
    font-size: 30px;
}
.imagem1{
    right: 0px;
    position: fixed;
    
}
.imagem2{
    background-color: white;
    text-align: center;
}
.historia{
    text-align: center;
    font-size: 20cm;
    font-size: large;
}
footer{
    text-align: center;
    font-size: 35px;
}
.navsite{
    text-align: center;
    font-size: 10cm;
}